@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.compare-table {
    font: "Inter", sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 20vh;
}

.compare-table h1{
    text-align: center;
    padding-bottom: 5vh;
}

.dropdown-container {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
    flex-wrap: wrap;
    text-align: center;
}

.dropdown-container select {
    width: 200px;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    
}

.products-display {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.product {
    width: 30%;
    box-sizing: border-box;
    padding: 10px;
}

.product-details {
    display: none;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 20px auto;
    padding: 20px;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.product-details img {
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}

.product-details h2 {
    font-size: 24px;
    margin: 20px 0;
}

.product-details p {
    font-size: 18px;
    margin: 10px 0;
}

.product-details .price {
    font-size: 24px;
    color: #003d2d;
    margin: 20px 0;
}

.product-details button {
    background-color: #003d2d;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.product-details button:hover {
    background-color: #003d2d;
}

@media (max-width: 768px) {
    .product {
        width: 50%;
    }
    .product select{
        width: 70%;
    }
    .product:nth-child(3) {
        display: none;
    }
}

@media (max-width: 340px) {
    .product {
        width: 100%;
    }
    .product:nth-child(2) {
        display: none;
    }
    .product:nth-child(3) {
        display: none;
    }
}